html{
    animation: fadein 5s;
}
body{
    background-color:#FFCC66;
    margin: 0;
    position: relative;
}
.kindsOfCoffee{
    display: grid;
    grid-template-columns: 15fr 18fr 5fr 5fr;
}
.kindOfCoffeeName{
    font-size:35px;
    line-height: 70px;
}
.kindOfCoffeeEng{
    text-align: center;
    line-height: 87px;
    margin-bottom: 0;
}
.kindOfHot{
    color: red;
    text-align: center;
    padding-top: 10px;
    
}
.kindOfIced{
    color: blue;
    text-align: center;
    padding-top: 10px;
    
}
.oz{
    font-size: 12px;
}
.coffee{
    display: grid;
    grid-template-columns: 15fr 18fr 5fr 5fr;
}
.coffeeOfName{
    
}
.coffeeOfEng{
    text-align: left;
}
.coffeeOfHot{
    text-align: center;
    color: red;
}
.coffeeOfIced{
    text-align: center;
    color: blue;
}
p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
#t1{
    font-size: 13px;
}
#t2{
    font-size: 14px;
}
.kindsOfCoffeeIced{
    display: grid;
    grid-template-columns: 15fr 18fr 5fr;
}
.coffeeIced{
    display: grid;
    grid-template-columns: 15fr 18fr 5fr;
}
h1{
    text-align: center;
}
.red{
    display: inline;
    color: red;
}
.blue{
    display: inline;
    color: blue;
}
.workTime{
    text-align: center;
}
.tel{
    text-align: center;
    color: red;
}
a{
    text-decoration: white;
}
h3{
    margin: 0;
}
h2{
    margin-top: 0;
}
ul{
    color: wheat;
    text-align: center;
    padding: 0;
}
li{
    display: inline-block;
    margin-right: 20px;
    color: royalblue;
}
.couponEX{
    display: none;
    animation: fadeout 2s;
}
.showing{
    display: block;
    animation: fadein 2s;
}
.nav{
    color: blue;
}
.black{
    display: inline;
    color: black;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.main_logo{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    
}
